body{
    background-color: rgba(18,18,18,255);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logo{
    width: 50px;
    height: 50px;
}
#contenedor{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
/*Aqui empieza el section y sus estilos*/
section{
    width: 50%;
    padding: 10px;
    background-color: rgba(42,42,42,255);
    border-radius: 5px;
}

#articulo1{
    display: flex;
    justify-content: space-evenly;
}
img{
    width: 210px;
    height: 270px;
    border-radius: 5px;
}
p{
    color: grey;
}

/*Aqui finaliza el section y sus estilos*/




/*Aqui empieza el aside y sus estilos*/
aside{
    width: 50%;
    padding-top: 10px;
    padding-left: 30px;
}
#cabezaDelAside{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#cuerpoDelAside{
    display: flex;
    flex-direction: row;
    margin: 20px;
}
#h6Aside{
    margin-left: 20px;
}
#imgAside{
    width: 50px;
    height: 50px;
}